* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', serif;
}

@media (max-width: 576px) {
    .netflix__container {
        width: 70px;
    }
    .netflix__logo {
        width: max-content;
        height: 60px;
    }
    .hero__title {
        font-size: 2rem;
        margin: 0 0.3rem 0 0.3rem;
    }
    .hero__subtitle {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .hero__description {
        margin: 0 0.6rem 0 0.6rem;
        font-weight: 500;
    }
    .primary__button {
        padding: 0.4rem 1rem 0.4rem 1rem;
        border: none;
        border-radius: 2px;
    }
    .hero__card {
        top: 20%;
        gap: 15px;
    }
    .hero__bg__overlay {
        height: 80vh;
    }
    .email__form__container {
        flex-direction: column;
        gap: 1rem;
    }
    .form__container {
        width: 90%;
        height: 40px;
    }
    .feature__details {
        margin-top: 2rem;
    }
    .first__sub__break {
        display: none;
    }
    .second__sub__break {
        display: none;
    }
    .third__sub__break {
        display: none;
    }
    .footer__row__1 {
        padding-right: 1.8rem;
    }
    .footer__row__3,
    .footer__row__4 {
        padding-right: 5rem;
    }
    .footer__row__2 {
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    .netflix__container {
        width: 150px;
    }
    .netflix__logo {
        width: max-content;
        height: 100px;
    }
    .hero__bg__image__container {
        height: 100vh;
    }

    .hero__bg__overlay {
        height: 80vh;
    }
    .hero__card {
        top: 30%;
        left: 30%;
        transform: translate(-20%, -20%);
    }
    .hero__title {
        font-size: 3rem;
        font-weight: 700;
    }
    .hero__subtitle,
    .hero__description {
        font-size: 1.3rem;
        font-weight: 500;
    }
    .primary__button {
        padding: 0.4rem 1rem 0.4rem 1rem;
        font-weight: 400;
        border-radius: 3px;
    }
    .email__form__container {
        flex-direction: column;
        gap: 1rem;
    }
    .form__container {
        width: 90%;
        height: 50px;
    }
    .feature {
        padding: 0 1.5rem 0 1.5rem;
    }
    .feature__title {
        font-size: 40px;
    }
    .feature__sub__title {
        padding: 0rem 3rem 0rem 3rem;
    }
    .feature__details {
        margin-top: 2rem;
    }
    .feature__4__poster__container {
        max-width: 26em;
        height: 85px;
    }
    .poster__container {
        width: 15%;
    }
    .gif__container {
        width: 3rem;
        height: 3rem;
    }
    .first__sub__break {
        display: none;
    }
    .second__sub__break {
        display: none;
    }
    .FAQ__heading {
        font-size: 38px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .FAQ__list {
        padding: 1rem 5rem;
    }
    .FAQ__get__started__email {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(15%);
    }
    .fifth__breaker {
        display: none;
    }
    .sixth__breaker {
        display: none;
    }
    .footer__row__2 {
        gap: 3rem;
    }
}

@media (min-width: 1024px) {
    .navbar__brand {
        width: 150px;
    }

    .signin__button {
        padding: 10px 20px;
        font-size: 18px;
    }
    .dropdown__container {
        padding: 10px 5px;
    }

    .navbar__nav__items {
        gap: 30px;
    }
    .netflix__container {
        width: 200px;
    }
    .netflix__logo {
        width: max-content;
        height: 100px;
    }

    .hero__card {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 13px;
    }
    .hero__subtitle {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .hero__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
    }
    .email__form__container {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    .form__container {
        width: 90%;
    }
    .primary__button {
        letter-spacing: 1px;
        outline: none;
        padding: 10px 60px 10px 34px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: larger;
        font-weight: 500;
    }
    .feature {
        padding: 0 3rem 0 3rem;
    }
    .feature__title {
        font-size: 40px;
    }
    .feature__details {
        margin-top: 6rem;
    }
    .feature__sub__title {
        font-size: 20px;
        padding: 0 1rem;
    }
    .first__sub__break {
        display: block;
    }
    .third__sub__break {
        display: none;
    }
    #feature__2 {
        padding: 4rem 0;
    }
    .FAQ__list {
        margin: 0 3rem;
    }
    .FAQ__title {
        font-size: 2rem;
    }
    .FAQ__get__started__email {
        transform: translateX(16%);
    }
    .FAQ__get__started__email > h3 {
        font-size: 18px;
    }
    #email__second__form {
        margin: 0 5rem;
    }
    footer {
        padding: 2rem 20rem;
        text-align: left;
    }
    .footer__row__2 {
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 10rem;
    }
}

@media (min-width: 1440px) {
    .navbar__brand {
        width: 150px;
    }
    .signin__button {
        padding: 10px 20px;
        font-size: 18px;
    }
    .dropdown__container {
        padding: 10px 5px;
    }

    .navbar__nav__items {
        gap: 30px;
    }

    .hero__card {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 13px;
    }
    .hero__title {
        font-size: 3rem;
    }
    .hero__subtitle {
        font-size: 2rem;
        font-weight: 400;
    }
    .hero__description {
        font-size: 1.3rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
    }
    .email__form__container {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    .form__container {
        width: 90%;
        height: 4rem;
    }
    .primary__button {
        border: 1px solid;
        border-color: #dc030f;
        letter-spacing: 1px;
        margin-top: 1px;
        padding: 16px 61.5px 10.5px 36px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: larger;
        font-weight: 500;
        height: 4rem;
    }
    .feature {
        padding: 0 16rem 0 16rem;
    }
    .first__sub__break {
        display: block;
    }
    .third__sub__break {
        display: none;
    }
    .forth__sub__break {
        display: none;
    }
    #feature__2 {
        padding-left: 10rem;
    }
    .FAQ__list {
        margin: 0 5rem;
    }
    .FAQ__get__started__email > h3 {
        font-size: 22px;
    }
    #email__second__form {
        margin: 0 10rem;
    }
}

@media (min-width: 1920px) {
    #feature__3 {
        padding-left: 25rem;
    }
    #feature__2__image {
        padding-right: 10rem;
    }
    .FAQ__list {
        margin: 0 28rem;
    }
    #email__second__form {
        margin: 0 20rem;
    }
}
@media (min-width: 2560px) {
    #feature__1 {
        padding-left: 30rem;
    }
    #feature__2 {
        padding-left: 10rem;
    }
    #feature__3 {
        padding-left: 40rem;
    }
}
